.DS_Store
*.cmake
*.d
*.a
*.makeDebug
*.makeRelease
*.make
*.txt
*.tmp
*.dia
*.o
*.LinkFileList
dgph
dgph~
build/bin
*.hmap
*.dat
*.sh
*.log
*.bin
*.dylib
*.xcuserstate
build/modules/world/face_detector.build
build/3rdparty
build/face_detector.xcodeproj/xcuserdata/mac.xcuserdatad
